$main-font-size: 16px;
$main-bg-color: #0f1113;
$dark-bg-color: #1f2229;
$content-bg-color: #f7f8f8;

$header-text-color: #193945;
$menu-text-color: #808592;
$input-text-color: #373c43;

$payment-color: #8494ab;
$card-color: #e4e9ee;